#constructor-form{
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.constructor-element{
    margin: 5px;
    width: 350px;
}
#open{
    position: absolute;
}

#table-list{
    margin: auto;
    width: 80%; 
    margin-top: 40px;
}

.hide{
    display: none;
}
